* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

html,
body {
    width: 100%;
    height: 100%;
}

.first-container {
    background-image: url('../images/background_image.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    background: linear-gradient(90deg, #3b3b3b, #89d8ff9d);
    z-index: 1;
    mix-blend-mode: unset;
}

.first-container .inner-container {
    position: absolute;
    left: 5%;
    bottom: 25%;
    z-index: 1;
}

.first-container .inner-container p {
    font-size: 2.5rem;
    color: white;
    font-family: 'Poppins';
}

.first-container .inner-container a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    font-family: "Poppins";
    margin-top: 7px;
    background: #fff;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}

.inner-container a:hover {
    color: #fff;
    background: #0a0707;
}

.navbar {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    opacity: .75;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar ul li {
    float: right;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
}

.box {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 15rem;
    height: 20rem;
    visibility: hidden;
    padding: 2.5rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.625rem;
    z-index: 3;
}

.box h4 {
    margin: 0 0 1.875rem;
    padding: 0;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 4px;
}

.box h6 {
    margin: 1.875rem 0;
    padding: 0;
    color: #fff;
    text-align: start;
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
}

.box h3 {
    text-align: justify;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.062rem;
    margin-bottom: 0.875rem;
    border: none;
    border-bottom: 0.065rem solid #fff;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label,
.box .inputBox input:not([value=""])~label {
    top: -1.125rem;
    left: 0;
    color: #010202;
    font-size: 0.75rem;
}

.box input[type="button"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: #010202;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    transition: 0.5s;
}

.navbar ul li:first-child a {
    border: none;
    outline: none;
    color: #fff;
    background-color: #010202;
    cursor: pointer;
    border-radius: 0.312rem;
    margin-right: 10px;
    padding: 10px;
    margin-top: 3px;
    margin-left: 10px;
    font-size: 1rem;
    transition: 0.5s;
}

.box input[type="button"]:hover,
.navbar ul li:first-child a:hover {
    background-color: #fff;
    color: #010202;
}

.box #form-sign-up {
    display: none;
}

.box #create_btn {
    transition: 0.5s;
    font-weight: 600;
}

.box #create_btn:hover {
    color: white;
}